{# Script #1: Import CLI template For FMG. Create new Jinja CLI Template with the following contents#}
{# Nets Object is list of dictionaries containing Network Based Meta-Variables #}
{# MetaVars should be in place om FMG prior to template creation #}
{# format key:metavar #}
{# 'subnet':network1_subnet define in cidr notation xxx.xxx.xxx.xxx/xx. script checks for host and network#}
{# 'netid':network1_netid will be used for VLANID / DHCP Server Index or both #}
{%- set _do = "" -%}
{%- set vars = {} -%}
{# Global Vars, If vlan based networks set network type to "network_type":"vlan" Only required for build_nets script #}
{# Default mode is port mode #}
{%- set _do = vars.update({
  "network_type":"",
  "vlan_prefix":"VLAN",
  "advpn": true,
  "vrf": true,
  "bvrf_dia":[blan1_vrf,],
  "hvrf_dia":[],
  "ipv4lbrange":"172.22.22.0/24",
  "internal_asn":65222,
  "branch_summary":["192.168.136.0/22"]
})-%}

{%- set nets = 
  [
        {'name':blan1_name, 'port':blan1_port, 'netid':blan1_netid, 'subnet':blan1_subnet, 'dhcp':blan1_dhcp, 'vrf':blan1_vrf, "bgp":blan1_bgp},
        {'name':guest_name, 'port':guest_port, 'netid':guest_netid, 'subnet':guest_subnet, 'dhcp':guest_dhcp, 'vrf':guest_vrf, "bgp":guest_bgp},
        {'name':hlan1_name, 'port':hlan1_port, 'netid':hlan1_netid, 'subnet':hlan1_subnet, 'dhcp':hlan1_dhcp, 'vrf':hlan1_vrf, "bgp":hlan1_bgp},
  ]
-%}

{%- set underlays =
[
    {'port': UL1_port, 'ip': UL1_ip, 'gw': UL1_gw, 'ulinbw': UL1_inbw, 'uloutbw': UL1_outbw},
    {'port': UL2_port, 'ip': UL2_ip, 'gw': UL2_gw, 'ulinbw': UL2_inbw, 'uloutbw': UL2_outbw},
    {'port': UL3_port, 'ip': UL3_ip, 'gw': UL3_gw, 'ulinbw': UL3_inbw, 'uloutbw': UL3_outbw},
    {'port': UL4_port, 'ip': UL4_ip, 'gw': UL4_gw, 'ulinbw': UL4_inbw, 'uloutbw': UL4_outbw},
]
-%}

{# HUB Definitions #}
{%- set hubs = [
    {
        "name": "HUB1",
        "serial": "FGVMSLTM26001505",
        "exchangeip": "172.22.22.251",
        "ebgp_neighbors": [
            {
                "ip": "192.168.132.2",
                "interface": hlan1_port,
                "remote_as": 65011
            }
        ],
        "endpoints": [
            {
                "phase1": "HUB1-VPN1",
                "remote_gw": "192.168.100.2",
                "netid": 1,
                "port": "port2",
                "branch_tunnels": [
                    {
                        "phase1": "HUB1-VPN1",
                        "branch_port": UL1_port
                    },
                    {
                        "phase1": "HUB1-VPN3",
                        "branch_port": UL3_port
                    }
                ]
            },
            {
                "phase1": "HUB1-VPN2",
                "remote_gw": "192.168.101.2",
                "netid": 2,
                "port": "port3",
                "branch_tunnels": [
                    {
                        "phase1": "HUB1-VPN2",
                        "branch_port": UL2_port
                    },
                    {
                        "phase1": "HUB1-VPN4",
                        "branch_port": UL4_port
                    }
                ]
            }
        ]
    },
    {
        "name": "HUB2",
        "serial": "FGVMSLTM26000910",
        "exchangeip": "172.22.22.252",
        "ebgp_neighbors": [
            {
                "ip": "192.168.133.2",
                "interface": hlan1_port,
                "remote_as": 65021
            }
        ],
        "endpoints": [
            {
                "phase1": "HUB2-VPN1",
                "remote_gw": "192.168.102.2",
                "netid": 5,
                "port": "port2",
                "branch_tunnels": [
                    {
                        "phase1": "HUB2-VPN1",
                        "branch_port": UL1_port
                    },
                    {
                        "phase1": "HUB2-VPN3",
                        "branch_port": UL3_port
                    }
                ]
            },
            {
                "phase1": "HUB2-VPN2",
                "remote_gw": "192.168.103.2",
                "netid": 6,
                "port": "port3",
                "branch_tunnels": [
                    {
                        "phase1": "HUB2-VPN2",
                        "branch_port": UL2_port
                    },
                    {
                        "phase1": "HUB2-VPN4",
                        "branch_port": UL4_port
                    }
                ]
            }
        ]
    }
] -%}
