{# Script #1: Import CLI template For FMG. Create new Jinja CLI Template with the following contents#}
{# Nets Object is list of dictionaries containing Network Based MetaVariables #}
{# MetaVars should be in place om FMG prior to template creation #}
{# format key:metavar #}
{# 'subnet':network1_subnet define in cidr notation xxx.xxx.xxx.xxx/xx. script checks for host and network#}
{# 'netid':network1_netid will be used for VLANID / DHCP Server Index or both #}
{%- set _do = "" -%}
{%- set vars = {} -%}
{# Glabal Vars, If vlan based networks set network type to "network_type":"vlan" Only required for build_nets script #}
{# Default mode is port mode #}
{%- set _do = vars.update({
  "network_type":"",
  "vlan_prefix":"VLAN",
  "advpn": true,
  "vrf": true,
  "ipv4lbrange":"172.22.22.0",
  "internal_asn":65222
})-%}
{%- set nets = 
{%- set nets = 
  [
        {'name':blan1_name, 'port':blan1_port, 'netid':blan1_netid, 'subnet':blan1_subnet, 'dhcp':blan1_dhcp, 'vrf':blan1_vrf, "bgp":blan1_bgp},
        {'name':guest_name, 'port':guest_port, 'netid':guest_netid, 'subnet':guest_subnet, 'dhcp':guest_dhcp, 'vrf':guest_vrf, "bgp":guest_bgp},
        {'name':hlan1_name, 'port':hlan1_port, 'netid':hlan1_netid, 'subnet':hlan1_subnet, 'dhcp':hlan1_dhcp, 'vrf':hlan1_vrf, "bgp":hlan1_bgp},
  ]
-%}

{%- set underlays = 
  [
        {'port':UL1_port,'ip':UL1_ip,'gw':UL1_gw},
        {'port':UL2_port,'ip':UL2_ip,'gw':UL2_gw},
  ]
-%}
{# HUB Definitions #}
{% set hubs = [
    {
        "name": "HUB1",
		"serial": "FGVMSLTM26000716",
        "exchangeip": "172.22.22.251",
        "endpoints": [
            {
                "phase1": "HUB1-VPN1",
                "remote_gw": "192.168.100.2",
                "netid": 1,
                "port": "port2"
            },
            {
                "phase1": "HUB1-VPN2",
                "remote_gw": "192.168.101.2",
                "netid": 2,
                "port": "port3"
            }
        ]
    },
    {
        "name": "HUB2",
		"serial": "FGVMSLTM26001156",
        "exchangeip": "172.22.22.252",
        "endpoints": [
            {
                "phase1": "HUB2-VPN1",
                "remote_gw": "192.168.102.2",
                "netid": 5,
                "port": "port2"
            },
            {
                "phase1": "HUB2-VPN2",
                "remote_gw": "192.168.103.2",
                "netid": 6,
                "port": "port3"
            }
        ]
    }
] -%}
