{%- import '00-import' as main with context -%}
config system interface
edit "HUB2-Lo"
set vdom "root"
set ip {{main.vars.ipv4lbrange|ipmath(253|int)}} 255.255.255.255
set allowaccess ping
set type loopback
next
edit "BGP-Lo"
set vdom "root"
set ip {{main.vars.ipv4lbrange|ipmath(branch_id|int)}} 255.255.255.255
set allowaccess ping
set type loopback
next
end
config system settings
set location-id {{main.vars.ipv4lbrange|ipmath(branch_id|int)}} 
end
config system global
set cli-audit-log enable
set admintimeout 480
set gui-app-detection-sdwan enable
end
