{% import '00-import' as main with context -%}
config vpn ipsec phase1-interface
{% for hub in main.hubs -%}
{% for endpoint in hub.endpoints -%}
{% for tunnel in endpoint.branch_tunnels -%}
{% if tunnel.branch_port is defined and tunnel.branch_port -%}
    edit "{{ tunnel.phase1 }}"
        set interface "{{ tunnel.branch_port }}"
        set ike-version 2
        set dpd on-idle
        set dhgrp 20 21
        set proposal aes256-sha256
        set peertype any
        set localid "{{ DVMDB.name }}-{{ tunnel.phase1 }}"
        set remote-gw {{ endpoint.remote_gw }}
        set idle-timeout enable
        set dpd-retrycount 2
        set dpd-retryinterval 2
        set net-device enable
        set add-route disable
        set exchange-fgt-device-id enable
        set exchange-ip-addr4 {{ main.vars.ipv4lbrange | ipmath(branch_id | int) }}
        {% if main.vars.vrf -%}
        set encapsulation vpn-id-ipip
        {% endif -%}
        {% if main.vars.advpn -%}
        set auto-discovery-receiver enable
        {% endif -%}
        set psksecret "{{ vpn_psk }}"
        set network-overlay enable
        set network-id {{ endpoint.netid }}
        set transport udp
    next
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor -%}
end

config vpn ipsec phase2-interface
{% for hub in main.hubs -%}
{% for endpoint in hub.endpoints -%}
{% for tunnel in endpoint.branch_tunnels -%}
{% if tunnel.branch_port is defined and tunnel.branch_port -%}
    edit "{{ tunnel.phase1 }}"
        set phase1name "{{ tunnel.phase1 }}"
        set proposal aes256-sha256
        set dhgrp 20 21
        set auto-negotiate enable
    next
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor -%}
end

config system interface
{% for hub in main.hubs -%}
{% for endpoint in hub.endpoints -%}
{% for tunnel in endpoint.branch_tunnels -%}
{% if tunnel.branch_port is defined and tunnel.branch_port -%}
    edit "{{ tunnel.phase1 }}"
        set vdom "root"
        set type tunnel
        set interface "{{ tunnel.branch_port }}"
        set allowaccess ping
    next
{% endif -%}
{% endfor -%}
{% endfor -%}
{% endfor -%}
end
