{%- import '00-import' as main with context -%}
{%- set hub = main.hubs | selectattr('name', 'equalto', 'HUB1') | first -%}
{%- set ns = namespace(vrfs=[], index=100) -%}
config router route-map
  edit "HLAN_TAG"
    config rule
      edit 1
        set set-tag 100
      next
    end
  next
  edit "HLAN_OUT"
    config rule
      edit 1
        set match-tag 100
      next
    end  
  next
  edit "HLAN_OUT_DENY"
    config rule
      edit 1
        set action deny
        set match-tag 100
      next
    end  
  next
end
config router bgp
set as {{main.vars.internal_asn}}
set router-id {{ main.hubs[0].exchangeip }} 
set keepalive-timer 15
set holdtime-timer 45
set ibgp-multipath enable
set ebgp-multipath enable
set graceful-restart enable
set recursive-next-hop enable
set recursive-inherit-priority enable
config neighbor
{% for neighbor in hub.ebgp_neighbors -%}
    edit "{{ neighbor.ip }}"
        set interface "{{ neighbor.interface }}"
        set remote-as {{ neighbor.remote_as }}
        set update-source "{{ neighbor.interface }}"
        set advertisement-interval 1
        set capability-graceful-restart enable
        set attribute-unchanged med
        set ebgp-enforce-multihop enable
        set next-hop-self enable
        set soft-reconfiguration enable
        {% if main.vars.vrf -%}
        set soft-reconfiguration-vpnv4 enable
        set capability-graceful-restart-vpnv4 enable
        {% endif -%}
    next
{% endfor -%}
end
config neighbor-group
    edit "EDGE"
        set advertisement-interval 1
        set capability-graceful-restart enable
        set next-hop-self enable
        set passive disable
        set soft-reconfiguration enable
        set interface "BGP-Lo"
        set remote-as {{main.vars.internal_asn}}
        set update-source "BGP-Lo"
        {% if main.vars.vrf -%}
        set soft-reconfiguration-vpnv4 enable
        set capability-graceful-restart-vpnv4 enable
        {% endif -%}
    next
end
config neighbor-range
    edit 1
        set prefix {{main.vars.ipv4lbrange}} 255.255.255.0
        set neighbor-group "EDGE"
    next
end
{% if main.vars.vrf -%}
{% if main.vars.branch_summary -%}
config aggregate-address
{% for summary in main.vars.branch_summary -%}
   edit {{ns.index}}
       set prefix {{ summary }}
   {% set ns.index = ns.index + 1 -%}
   next
{% endfor -%}
end
{% endif -%}
{% endif -%}
config network
    edit 1
        set prefix {{hlan1_subnet|ipaddr('network/prefix')}}
        set route-map HLAN_TAG
    next
end
{% if main.vars.vrf -%}
config vrf
    edit "0"
        set role pe
    next
    {% for x in main.nets -%}
    {% if x.vrf is defined
          and x.bgp|default('n')|lower == 'y'
          and x.vrf not in ns.vrfs -%}
    {%- set ns.vrfs = ns.vrfs + [x.vrf] -%}
    edit {{ x.vrf }}
        set role ce
        set rd {{ main.vars.ipv4lbrange|ipmath(branch_id|int) }}:{{ x.vrf }}
        set export-rt {{ main.vars.internal_asn }}:{{ x.vrf }}
        set import-rt {{ main.vars.internal_asn }}:{{ x.vrf }}
    next
    {% endif -%}
  {%- endfor -%}
end
{% endif -%}
