{%- import '00-import' as main with context -%}
config log fortianalyzer setting
    set status enable
    set server "192.168.0.2"
    set upload-option realtime
    set reliable enable
    set vrf-select 250
end
config system interface
    edit {{UL1_port}}
        set allowaccess speed-test fgfm 
        set outbandwidth {{UL1_outbw}}
        set inbandwidth {{UL1_inbw}}
        set estimated-upstream-bandwidth {{UL1_outbw}}
        set estimated-downstream-bandwidth {{UL1_inbw}}
        set egress-shaping-profile "SHAPER"
        set monitor-bandwidth enable
    next
    edit {{UL2_port}}
        set allowaccess speed-test fgfm https ssh
        set outbandwidth {{UL2_outbw}}
        set inbandwidth {{UL2_inbw}}
        set estimated-upstream-bandwidth {{UL2_outbw}}
        set estimated-downstream-bandwidth {{UL2_inbw}}
        set egress-shaping-profile "SHAPER"
        set monitor-bandwidth enable
    next
end
config system sdwan
config members
edit 3
set source {{main.vars.ipv4lbrange|ipmath(branch_id|int)}}
next
edit 4
set source {{main.vars.ipv4lbrange|ipmath(branch_id|int)}}
next
edit 5
set source {{main.vars.ipv4lbrange|ipmath(branch_id|int)}}
next
edit 6
set source {{main.vars.ipv4lbrange|ipmath(branch_id|int)}}
next
end
end
