{%- import '00-import' as main with context -%}
config system interface
{% for x in main.underlays -%}
{% if x.port is defined -%}
edit {{x.port}}
    set allowaccess speed-test fgfm 
    set outbandwidth {{x.uloutbw}}
    set inbandwidth {{x.ulinbw}}
    set estimated-upstream-bandwidth {{x.uloutbw}}
    set estimated-downstream-bandwidth {{x.ulinbw}}
    set egress-shaping-profile "XXXXXXXXXXXXXXX"
    set monitor-bandwidth enable
next
{% endif -%}
{% endfor -%}
end
