{%- import '00-import' as main with context -%}
config log fortianalyzer setting
    set status enable
    set server "192.168.0.2"
    set upload-option realtime
    set reliable enable
    set vrf-select 250
end
config system interface
{% for x in main.underlays -%}
{% if x.port is defined -%}
edit {{x.port}}
    set allowaccess speed-test fgfm 
    set outbandwidth {{x.uloutbw}}
    set inbandwidth {{x.ulinbw}}
    set estimated-upstream-bandwidth {{x.uloutbw}}
    set estimated-downstream-bandwidth {{x.ulinbw}}
    set egress-shaping-profile "SHAPER"
    set monitor-bandwidth enable
next
{% endif -%}
{% endfor -%}
end